<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div>
        <a class="active" href="/">Home</a>
        <a href="/employee">Employee</a>
    </div>
    <h2>Home Page</h2>
    <form method="get" action="/employee">
        <input name="firstName" type="text" placeholder="Enter First Name">
        <input name="lastName" type="text" placeholder="Enter Last Name">
        <input type="submit" value="show employees">
    </form>
</body>
</html>